body {
    font-family: 'Noto Sana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: plum;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    height: 500px;
    width: 500px;
    padding-top: 170px;
    padding-right: 50px;
}

.password-reset-box {
    background-color: rgb(160, 81, 160);
    border: 1px solid ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(160, 81, 160);
    width: 500px;
    height: 500px;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: plum;
}

.form-group {
    padding: 30px;
}

input {
    margin-bottom: 15px;
    text-align: left;
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: plum;
}

button {
    color: plum;
    background-color: #514869;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
   background-color: rgb(160, 102, 160);
}